@import url('https://fonts.googleapis.com/css2?family=Average+Sans&family=Reem+Kufi:wght@600&display=swap');

$smoke: rgba(255, 255, 255, 0.774);
$grey-shark: #333333;
$grey-grey-shark-light: #666666;
$font-menu: 'Average Sans', sans-serif;
$bkg-blue: rgb(48,36,142);
$bkg-two : #7e8287;
$bkg-white : #efeeee;
$bkg-yellow-Light : rgb(234, 181 ,65);
$font:  'Average Sans', sans-serif;
$font-title:'Reem Kufi', sans-serif;
$yellow: #FEFF99;
$light-yellow: rgba(209, 198, 39, 0.541)