@use '../../styles/variables';

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // border-bottom: 1px solid $white;
    text-transform: uppercase;
    position: fixed;
    width: 90%;
    z-index: 2;
  }
  .link{
    text-decoration: none;
    font-family: variables.$font-menu;
    color: variables.$grey-shark;
    font-size: 1.6rem;
  }

