<div class="contact-info">
  <div class="locations">
    <h4>BUENOS AIRES</h4>
    <span>-</span>
    <h4>BOSTON</h4>
    <span>-</span>
    <h4>UK</h4>
  </div>
  <div class="social-media">
    <h4>Follow us</h4>
    <a href="https://www.instagram.com/ontime.creative" target="_blank"> </a>
  </div>
</div>
