
<div class="plyr__video-embed" id="player">
  <div class="w-full h-0 relative pb-[56.25%]" id="embed-container">
    <iframe
      src="https://player.vimeo.com/video/1008788899?autoplay=1&loop=1&muted=1&controls=0&byline=false&portrait=false&title=false&speed=true&transparent=0&gesture=media"
      allowfullscreen
      allowtransparency
      loading="lazy"
      allow="autoplay"></iframe>
  </div>
</div>

<script is:inline>
  import Plyr from "plyr";
  const player = new Plyr("#player", { captions: { active: true } });
</script>

<style>
  .player .vp-video-wrapper object,
  .player .vp-video-wrapper video {
    width: 100%;
    height: 100vh;
    max-width: none;
    max-height: none;
  }

  #player {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    background-color: black;
  }

  #embed-container {
    position: relative;
    width: 100%;
    height: 100%;
  }

  #player iframe,
  #player object,
  #player embed {
    width: 100%;
    height: 100%;
    border: none;
  }
</style>
